

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(223, 220, 215);
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: justify;
    font-weight: bold;
}

h1, h2, h3 {
    color: #3c4155;
}

/* Header styles start*/

.header {
    width: 100%;
    background-color: #d9e7d8;
}

.header-container {
    border: solid 1px #393939;
    border-bottom: none;
    
}

.header-list-item {
    font-weight: 700;
}
  
.nav-wrapper {
    background-color: rgb(221, 171, 154);
}

.header-link{
    margin: 0 auto;
    text-decoration: none;
    color:#393939;
  }
  
.header-link:hover,
.header-link:active {
    color: #9D8665;
    transition: color 0.5s;
  }

.my-photo {
    display: flex;
    width: 100%;
    margin: 10% auto;
    border: 5px solid #757575;
    border-radius: 60%;
}

.nav-wrapper {
    background-color: rgb(221, 171, 154);
}

/* Header styles end*/

/* Side-panel styles start*/

.side-panel {
    display: flex;
    height: 100% ;
    background:#757575;  
}

.side-bar {
    width: 100%;
    color: lightgrey;
}

.side-content {
    margin: 30% 0;
}


.side-header {
    margin: 20% 15% 7%;
    padding: 5%;
    border-bottom: 1px solid #393939;
    color: #393939;
    background-color: rgb(221, 171, 154);
    font-weight: 800;
}

.small-side-header {
    margin: 10% 13%;
    padding: 2%;
    border-bottom: 1px solid #393939;
    font-weight: 700;
    background-color: lightgrey;
    color: #393939; 
    font-weight: 700;
}

.side-bar li {
    margin-bottom: 3%;
    margin-left: 15%;
    list-style-type: none;
    list-style-position: inside;
    font-weight: bold;
}

.side-icon {
    margin-right: 5%;
}


/* Side-panel styles end*/

/* Main section styles start*/

.main-section {
    display: flex;
    align-items: stretch;
    border: solid 1px #393939;
    border-top: none;
    background-color: white;
}
.main-content {
    width:100%;
    color: black;
    background-color: white;

}

.main-info{
   margin: 0 15% 10% 10%;
   font-weight: bold;
}

.main-content li {
    list-style-type: none;
    list-style-position: inside;
    font-weight: bold;
}

.main-content-header {
    padding: 3% ;
    border-bottom: 1px solid;
    margin-bottom: 2%;
    margin-right:  15%;
    background-color: rgb(221, 171, 154);
    font-size: 150%;
    font-weight: 800;
} 

.self-ed-list {
    margin-bottom: 3%;
}

.main-icon {
    margin-right: 3%;
}

.contacts{
    margin-top: 5%;
}

.name {
    padding: 3%;
    margin-top: 15%;
    background-color: #757575; /*#a5a5a5;*/
    box-shadow: 0px 10px 8px #888888;
    color: white;
    font-size: 400%;
    font-weight: 700;
}

.goal {
    margin-top: 15%;
    padding: 3%;
    font-weight: 900;
    font-size: 300%;
}

.code-example {
    width: 70%;
    padding-left: 8%;
    padding-bottom: 15px;;
    margin-bottom:  10%;
}

pre {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10%;
    white-space:pre-line;
    
}
.project-image {
    width: 80%;
    margin-bottom: 3%;
}
/* Main section styles end*/

/* Footer styles start*/

.footer-cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 7% 4% 4%;
    font-weight: bold;
    background-color: rgb(221, 171, 154);;
    color: white;
}

.footer-picture {
    width: 100px;
    height: 38px;
    margin-right: 50px;
    background-image: url("https://rs.school/images/rs_school_js.svg");
    background-size: contain;
}

.footer-icon {
    margin-right: 2%;
}

.footer-year {
    color: #393939;
    font-size: 200%;
}

/* Footer styles end*/

/*Media start*/

@media screen and (max-width: 1366px) {
    .side-bar-list {
        font-size: 90%;
    }
}

@media screen and (max-width: 1300px) {
    .side-header,
    .small-side-header {
       font-size: 90%;
    }

    .side-bar-list {
        font-size: 70%;
    }
}

@media screen and (max-width: 992px) {
    .side-header,
    .small-side-header {
       font-size: 200%;
    }

    .side-bar-list {
        font-size: 180%;
    }

    .side-panel {
        height: 45%;
    }

    .my-photo {
        width: 70%;
    }
}


@media screen and (max-width: 665px) {
    .side-header,
    .small-side-header {
       font-size: 150%;
    }

    .side-bar-list {
        font-size: 140%;
    }

    .side-panel {
        height: 40%;
    }

    .footer-item {
        margin-bottom: 2%;
    }
    
}

